@inherits BlazorLayoutComponent

<div>
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<footer class="blog-footer">
    <p>Fresh Tomatoes built for <a href="https://webassembly.org/">WebAssembly</a> by <a href="https://www.linkedin.com/in/hanwen-guo-71b805149/">@@Hanwen
            Guo</a>&<a href="https://www.linkedin.com/in/gongdai-liu-bb8b5013b/"> @@Gongdai Liu.</a></p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
